*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.property_main{
    padding: 10px;
}

.property_header_sec{
    display: flex;
    flex-direction: column;
   align-items: center;
}

.property_header_sec h3{
    font-size: 25px;
    margin: 10px 0px;
}

.property_sort_section{
    display: flex;
    justify-content: space-between;
    margin: 10px 5px;
    
}

.property_sort_section h4{
    font-weight: 500;
    color: grey;
    margin-right: 150px;
}

.sort_sec span{
font-size: 16px;
padding: 0px 5px;
font-weight: 900;
}

.sort_sec select{
    width: 120px;
    border: 2px solid grey;
    border-radius: 5px;
    font-weight: 700;
    color: rgb(255, 82, 82);
}
.property_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.property_card{
    position: relative;
    margin: 20px;
    width: 350px;
}

.property_card img{
    width: 350px;
    border-radius: 5px;
    height: 200px;
}

.star_icon{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 310px;
    font-size: 20px;
    padding: 2px;
    text-align: center;
    color: white;
    border-radius: 100%;
    background-color: rgba(128, 128, 128, 0.655);
    cursor: pointer;
    top: 5px;
}

.property_address{
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
}

.adress h5{
    font-size: 18px;
}

.adress p{
    font-size: 13px;
    color: grey;
}

.property_address i{
    cursor: pointer;
    border: .5px solid rgba(128, 128, 128, 0.534);
    border-radius: 100%;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 3px;
}

.property_price{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    align-items: center;
}


.property_detail{
    display: flex;
    width: 150px;
    justify-content: space-between;
}

.property_detail h6{
    color: gray;

}
